@import '../utils/styleVariables.less';

.SidebarMenu {
    padding: 50px 0;

    .tab {
        padding: 0 20px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
        text-transform: capitalize;
        transition: all .2s;
        cursor: pointer;

        &.active,
        &:hover {
            background: @mainCounterBg;
            color: @linkColor;
        }
    }
    
    hr {
        width: 90%;
        background-color: @underlineBg;
        height: 1px;
        color: @underlineBg;
        border: 0;
        margin-top: 20px;
        min-width: 250px;
    }
}